.list-style{
    list-style: none;   
    padding: 0;
    margin: 0;
}
.list-item{
    padding: 0;
    margin: 0;
}

.list-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    width: fit-content;
    max-width: 400px;
    font-size: 22px;   
}

.list-info {
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 22px;
}

.phone{
    font-size: 20px;
}

.rm-btn {
    height: 40px;
    border-radius: 8px;
}