.list-style{
    list-style: none;   
    padding: 0;
    margin: 0;
}
.list-item{
    padding: 0;
    margin: 0;
}

.list-content{
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    width: fit-content;
    max-width: 400px;
    font-size: 22px;   
}